.blog-template {
    background-color: $primaryBg;
        .first {
            position: relative;
            .container-fluid {
                padding: 0 60px;
                .logo {
                    position: relative;
                    top: 50px;
                    z-index: 2;
                    @media #{$big-smartphone} {
                        top: 40px;
                    }
                    @media #{$smartphone} {
                        top: 30px;
                    }
                    @media #{$small-smartphone} {
                        top: 30px;
                    }
                    img {
                        width: 100px;
                    }
                }
            }
            .blog-wrapper {
                background: url(../img/blog1.jpg) no-repeat center center;
                background-size: cover;
                margin-top: 100px;
                color: $primaryColorTxt;
                h2 {
                    @extend %mainTitle;
                    text-align: center;
                    padding-top: 160px;
                    padding-bottom: 40px;
                    font-size: 4rem;
                    font-style: normal
                }
            }
            p, .date {
                color: $primaryColorTxt;
                @extend %text;
                margin-top: 80px
            }
            .date {
                margin-bottom: 200px;
                font-weight: 600
            }    
        }
    }
    .nav-item {
        .nav-link {
            @include menu($primaryBg);
            color: $primaryColorTxt;
            @media #{$big-smartphone} {
                font-size: 2rem;
            }
            @media #{$smartphone} {
                font-size: 2rem;
            }
            @media #{$small-smartphone} {
                font-size: 2rem;
            }
        }
    }

    #slider_news {
        .slick-prev:before, .slick-next:before {
            color: #000;
            content: '\279C';
            font-size: 30px;
        }
        .slick-prev {
            transform: rotate(180deg);
            left: 50px;
        }
        .slick-next {
            right: 50px;
        }
        .post-img {
            width: 50%;
            margin:0 auto 60px auto;
            display: block;
            @media #{$tablet} {
                width: 70%;
            }
            @media #{$big-smartphone} {
                width: 75%;
            }
            @media #{$smartphone} {
                width: 75%;
            }
        }
        @media #{$tablet} {
            .slick-prev {
                transform: rotate(180deg);
                left: 0px;
            }
            .slick-next {
                right: 0px;
            }    
        }  
        @media #{$big-smartphone} {
            .slick-prev {
                transform: rotate(180deg);
                left: 10px;
            }
            .slick-next {
                right: 10px;
            }    
        } 
        @media #{$smartphone} {
            .slick-prev {
                transform: rotate(180deg);
                left: 15px;
                z-index: 999;
            }
            .slick-next {
                right: 15px;
                z-index: 999;
            }   
            .slick-prev:before, .slick-next:before {
                color: #000;
                content: '\279C';
                font-size: 20px;
            }     
        }           
    }

    .blog-template footer {
        padding: 80px 0;
        background-color: $thirdBg;
        color: $primaryBg;
        p, a {
            color: $secondaryBg;
        }
        .credits {
            div {
                @media #{$smartphone} {
                    float: none;
                    width: 100%;
                    margin-top: 30px;
                }
                @media #{$small-smartphone} {
                    float: none;
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
    }

