.servizi {
    #container {
        .first {
            position: relative;
            @media #{$big-smartphone} {
                width: 100vw;
            }
            @media #{$smartphone} {
                width: 100vw;
            }
            @media #{$small-smartphone} {
                width: 100vw;
            }
            .container-fluid {
                height: 90%;
                padding: 0 60px;
                @media #{$notebook} {
                    padding: 0 40px;
                }
                @media #{$tablet} {
                    padding: 0 40px;
                }        
                @media #{$big-smartphone} {
                    height: 100%;
                    width: 100vw;
                    max-width: 100%;
                    padding: 0;
                }
                @media #{$smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                @media #{$small-smartphone} {
                    height: 100%;
                    width: 100vw;
                    padding: 0;
                }
                .logo {
                    position: absolute;
                    top: 50px;
                    z-index: 2;
                    @media #{$big-smartphone} {
                        top: 40px;
                    }
                    @media #{$smartphone} {
                        top: 30px;
                    }
                    @media #{$small-smartphone} {
                        top: 30px;
                    }
                    img {
                        width: 100px;
                    }
                } 
                h2 {
                    @extend %subTitle;
                    div {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        span {
                            display: block;
                            transform: translateY(105%);
                        }
                    }
                }
                .overlay {
                    position: relative;
                    .imgReveal {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background-color: $primaryColorTxt;
                        z-index: 2;
                    }
                    img {
                        @media #{$pc} {
                            height: 290px;
                            object-fit: cover;
                            width: 100%;
                        }                                            
                        @media #{$big-pc} {
                            width: 100%;
                        }                                            
                        @media #{$notebook} {
                            width: 90%;
                        }
                        @media #{$smartphone} {
                            width: 100%;
                        }
                        @media #{$small-smartphone} {
                            width: 100%;
                        }        
                    }
                }
                p {
                    @extend %text;
                    width: 380px;
                    margin: 50px 0 0 0;
                    @media #{$big-pc} {
                        width: 450px;
                    }
                    @media #{$tablet} {
                        width: 90%;
                    }
                    @media #{$big-smartphone} {
                        width: 90%;
                        margin-top: 30px;
                    }
                    @media #{$smartphone} {
                        width: 85%;
                        margin-top: 30px;
                    }
                    @media #{$small-smartphone} {
                        width: 85%;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    .second {
        position: relative;
        @media #{$big-smartphone} {
            width: 100vw;
        }
        @media #{$smartphone} {
            width: 100vw;
        }
        @media #{$small-smartphone} {
            width: 100vw;
        }
        .container-fluid {
            height: 83%;
            background-color: $primaryBg;
            color: $primaryColorTxt;
            position: absolute;
            bottom: 0;
            padding: 0 60px;
            @media #{$big-smartphone} {
                height: 100%;
                max-width: 100%;
                padding: 0 40px;
            }
            @media #{$smartphone} {
                height: 100%;
                padding: 0 40px;
            }
            @media #{$small-smartphone} {
                height: 100%;
                padding: 0 40px;
            }
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            @media #{$notebook} {
                height: 300px;
            }
            @media #{$tablet} {
                height: 250px;
            }
            @media #{$big-pc} {
                height: 400px;
            }
            @media #{$big-smartphone} {
                height: 250px;
            }
            @media #{$smartphone} {
                height: 250px;
            }
            @media #{$small-smartphone} {
                height: 200px;
            }
        }
        table {
            margin-top: 30px;
            th {
                @extend %text;
                line-height: 16px;
                padding-right: 140px;
                @media #{$tablet} {
                    padding-right: 80px;
                }
                @media #{$big-smartphone} {
                    padding-right: 50px;
                }
                @media #{$smartphone} {
                    padding-right: 50px;
                }
                @media #{$small-smartphone} {
                    padding-right: 50px;
                }
            }
        }
    }
    .nav-item {
        &:nth-child(2) {
            .nav-link {
                color: $secondaryBg;
                font-weight: bold;
                @media #{$big-smartphone} {
                    font-size: 2rem;
                    color: $primaryBg !important;
                }
                @media #{$smartphone} {
                    font-size: 2rem;
                    color: $primaryBg !important;
                }
                @media #{$small-smartphone} {
                    font-size: 2rem;
                    color: $primaryBg !important;
                }    
            }
        }
        .nav-link {
            @include menu($primaryBg);
            color: $primaryBg;
            @media #{$big-smartphone} {
                font-size: 2rem;
                color: #fff;
            }
            @media #{$smartphone} {
                font-size: 2rem;
                color: #fff;
            }
            @media #{$small-smartphone} {
                font-size: 2rem;
                color: #fff;
            }
        }
    }
    .margin-mobile {
        margin-left: 100px;
    }
    #container-desktop, #container-mobile, #mainMenu {@include bg($thirdBg);}
    .footer-mobile {
        width: 800px;
        footer {
            width: 800px;
            padding-left: 80px;
            .container {
                max-width: 100%;
                width: 800px;
            }    
        }
    }
    footer {
        background-color: $secondaryBg;
        color: $primaryColorTxt;
        p, a {
            color: $primaryColorTxt;
        }
    }
}
